body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    font-family: Roboto;
}
.header-section {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
.header-links {
    margin: 0;
    padding: 0;
    gap: 30px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.main {
    width: 450px;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text, a, .img-text {
    font-size: 18px;
    color: #E5E7EB;
}

.img-placeholder {
    width: 400px;
    height: 200px;
    background-color: #666666d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button {
    width: 125px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 6px;
    font-size: 18px;
}

.info-section {
    text-align: center;
    padding: 40px 100px 80px 100px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 6px;
}

.info-text {
    width: 150px;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 250px 100px 250px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    width: 800px;
}
.name {
    font-size: 18px;
    color: #1F2937;
    font-weight: 300;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 100px 70px 100px;
}

.sign-up-container {
    width: 750px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 30px 60px;
    color: white;
    border-radius: 4px;
}

.sign-up-main {
    font-size: 18px;
    font-weight: 500;
}
.sign-up-text {
    font-size: 14px;
}

.sign-up-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px 10px;
    margin-top: 10px;
}

.footer {
    text-align: center;
    background: #1F2937;
    padding: 30px 100px;
    color: white;
}